{% extends "base.html" %}

	{% block content %}
		<h1>{{ the_message }}</h1>
	{% endblock %}
	{% block ads %}
		<!-- Avisos... de algo hay que vivir -->
		<div class="anuncio">
			<script type="text/javascript"><!--
				google_ad_client = "pub-4645849865332065";
				/* Soplunch ancho */
				google_ad_slot = "8103339762";
				google_ad_width = 468;
				google_ad_height = 60;
				//-->
			</script>
			<script type="text/javascript"
			src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	{% endblock %}
